body {
    font-family: 'Segoe UI', sans-serif;
    justify-content: center;
    text-align: center;
    padding: 40px;
    background-color: #f0f2f5;
  }

  header{
    display: flex;
    background-color: aquamarine;
    padding: 10px;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
}

header nav.menu-desktop a:hover{
    color: #FFF;
    transform: scale(1.05);
    transition: .2s;
}

header nav.menu-desktop ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}


 

  table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 70%;
    background-color: #fff;
  }

  table, th, td {
    border: 1px solid #ccc;
  }

  th, td {
    padding: 10px 15px;
    text-align: center;
  }

  th {
    background-color: #007BFF;
    color: white;
  }

  canvas {
    margin-top: 30px;
  }