<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard de Previsões</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="../static/style-dashboard.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-dashboard.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="titulo_page">
        <h2>Dashboard de Previsões</h2>
      </div>
    
      <nav class="menu-desktop">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/NovaConsulta">Nova Consulta</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
        </ul>
      </nav>
    </header>



    <div class="titulos">
  <label for="select-grafico"><h3>Escolha o gráfico:</h3></label>
  <select id="select-grafico">
    <option value="classes">Distribuição das classes preditas</option>
    <option value="genero">Percentual de Homens e Mulheres que Ganham > 50K</option>
    <option value="ocupacao">Percentual com Renda > 50K por Ocupação</option>
  </select>
</div>

    <div style=  " width: 100%; max-width: 900px; height: 500px; margin: auto;">
      <canvas id="graficoUnico"></canvas>
    </div>


    <div class="titulos">
      <h3>Dados Armazenados</h3>
      <button id="btn-mostrar-tabela" class="btn-tabela">Mostrar Tabela</button>
    </div>
    
    <div id="tabela-container" style="display: none;">
      <table>
        <tr>
          <th>Idade</th>
          <th>Gênero</th>
          <th>Ocupação</th>
          <th>Educação</th>
          <th>Capital Ganho</th>
          <th>Previsão</th>
        </tr>
        {% for d in dados %}
        <tr>
          <td>{{ d.idade }}</td>
          <td>{{ d.genero }}</td>
          <td>{{ d.ocupacao }}</td>
          <td>{{ d.educacao }}</td>
          <td>{{ d.capital_gain }}</td>
          <td>{{ d.previsao }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    




    <script>
      window.percentualLabelsClasses = ['<= 50K', '> 50K'];
      window.percentualDataClasses = [{{ percentual_0|round(2) }}, {{ percentual_1|round(2) }}];
      window.percentualGenero = [{{ percentual_homens_mais_50k|round(2) }}, {{ percentual_mulheres_mais_50k|round(2) }}];
      window.labelsOcupacao = {{ labels_ocupacao|tojson }};
      window.percentuaisOcupacao = {{ percentuais_ocupacao|tojson }};
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

      
  </body>
</html>
