<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styleLoginPage.css') }}"
    />
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form method="POST" action="/login">
      <label for="usuario">Usuário</label>
      <input type="text" id="usuario" name="usuario" required>

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required>

      <button type="submit">Entrar</button>

      {% with mensagens = get_flashed_messages(with_categories=true) %}
  {% if mensagens %}
    {% for categoria, msg in mensagens %}
      <div class="mensagem-topo">{{ msg }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}


      {% if erro %}
        <div class="mensagem-erro">{{ erro }}</div>
      {% endif %}


      <div class="link-cadastro">
        Não tem conta? <a href="/cadastro">Faça o cadastro</a>
      </div>
    </form>
  </div>
</body>


<script>
  // Esconde automaticamente a mensagem após 4 segundos
  setTimeout(() => {
    const mensagem = document.querySelector('.mensagem-topo');
    if (mensagem) {
      mensagem.style.transition = 'opacity 0.5s ease';
      mensagem.style.opacity = '0';
      setTimeout(() => mensagem.remove(), 500); 
    }
  }, 4000);
</script>


</html>
